@font-face {
    font-family: 'BitFont';
    src: url(../assets/fonts/PixelDigivolve.otf);
}

html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  font-family: "BitFont", Arial, Helvetica, sans-serif;
  background-color: black;
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: "BitFont", Arial, Helvetica, sans-serif;
}

.RpgUiBox {
  color: rgb(240,240,240);

  border-radius: 15px;
  box-sizing: border-box;
  margin: 10px;
  box-shadow: 0 0 3px 4px white, 0 0 0 4px black, inset 0 0 3px 4px white, inset 0 0 0 4px black, 2px 2px 2px 0 black;

  background-color: blue;
  background: -moz-linear-gradient(top,  #7db9e8 0%, #2989d8 50%, #1e5799 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #7db9e8 0%,#2989d8 50%,#1e5799 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #7db9e8 0%,#2989d8 50%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.RpgUiBox h1, .RpgUiBox h2 {
  text-shadow: 3px 4px 0px black;
  clear: both;
}



.modal{
  z-index: 10;
  position: fixed;
  width: 85%;
  max-height: 85%;
  top: 12.5%;
  left: 12.5%;
  margin: 0px;
  padding: 0px;

  color: rgb(240,240,240);

  border-radius: 15px;
  box-sizing: border-box;
  margin: 10px;
  box-shadow: 0 0 3px 4px white, 0 0 0 4px black, inset 0 0 3px 4px white, inset 0 0 0 4px black, 2px 2px 2px 0 black;

  background-color: blue;
  background: -moz-linear-gradient(top,  #7db9e8 0%, #2989d8 50%, #1e5799 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #7db9e8 0%,#2989d8 50%,#1e5799 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #7db9e8 0%,#2989d8 50%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-body {
    overflow-y: auto;
}



.modal-backdrop{
    background-color: black;
    opacity: 0.5;
    position: fixed;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
}


.rpg-resume {
    position: absolute;
    box-sizing: border-box;
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.split-left-vertical {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    
    flex: 0 0 66%;
}


.top-left {
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: row;
    display: flex;
    align-items: stretch;
    -webkit-box-align-content: stretch;
    flex-basis: 66%;
}

.bottom-left {
    height: 50%;
    flex-basis: 33%;
}

employment-cardset {
        display: flex;
        width: 95%;
        height: 80%;
        margin: 0;
        padding: 0;
}

employment-card{
    flex: 1 0 1%;
}

.employment-nav {
    width: 95%;
    height: 95%;
    color: rgb(240,240,240);

  border-radius: 15px;
  box-sizing: border-box;
  margin: 15px;
  box-shadow: 0 0 3px 4px white, 0 0 0 4px black, inset 0 0 3px 4px white, inset 0 0 0 4px black, 2px 2px 2px 0 black;

  background-color: blue;
  background: -moz-linear-gradient(top,  #7db9e8 0%, #2989d8 50%, #1e5799 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #7db9e8 0%,#2989d8 50%,#1e5799 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #7db9e8 0%,#2989d8 50%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */

  font-size: large;
}

.right {
    box-sizing: border-box;
    overflow-y: auto;
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    
    flex: 0 0 33%;
}

.right skill-card{
    flex: 5;
}

bio-card {
    position: relative;
    overflow: hidden !important;
    flex: 2;
}

bio-card:before {
    content:'';
    width:100%;
    height:100%;    
    position:absolute;
    left:0;
    top:0;
    background:linear-gradient(transparent 45%, #1e5799 85%, transparent 85.1%);
    pointer-events: none;
    margin-left: 3px;
    margin-right: 3px;
}

bio-card > button {
    position: absolute;
    width: 100%;
    height: 15%;
    bottom: 0;
    left: 0;
    font-family: "BitFont", Arial, Helvetica, sans-serif;
    font-size: large;

    color: rgb(240,240,240);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 3px 4px white, 0 0 0 4px black, inset 0 0 3px 4px white, inset 0 0 0 4px black, 2px 2px 2px 0 black;

    background-color: blue;
    background: -moz-linear-gradient(top,  #7db9e8 0%, #2989d8 50%, #1e5799 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #7db9e8 0%,#2989d8 50%,#1e5799 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #7db9e8 0%,#2989d8 50%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
    padding: 5px;
    flex: 1;
        
}

rpg-modal button {
    width: 100%;
    font-family: "BitFont", Arial, Helvetica, sans-serif;
    font-size: large;

    color: rgb(240,240,240);
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 20px;
    box-shadow: 0 0 3px 4px white, 0 0 0 4px black, inset 0 0 3px 4px white, inset 0 0 0 4px black, 2px 2px 2px 0 black;

    background-color: blue;
    background: -moz-linear-gradient(top,  #7db9e8 0%, #2989d8 50%, #1e5799 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #7db9e8 0%,#2989d8 50%,#1e5799 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #7db9e8 0%,#2989d8 50%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
    padding: 5px;
}

title-card {
      flex: 1 0;
      overflow-y: hidden !important;
}

title-card a{
    color: white;
    font-style: none;
}

title-card h1.image-header {
  font-size: 36px;
  border-radius: 15px;
  box-sizing: border-box;
  margin: 10px;
  box-shadow: 0 0 3px 4px white, 0 0 0 4px black, inset 0 0 3px 4px white, inset 0 0 0 4px black, 2px 2px 2px 0 black;

  background-color: blue;
  background: -moz-linear-gradient(top,  #7db9e8 0%, #2989d8 50%, #1e5799 100%); /* FF3`6-15 */
  background: -webkit-linear-gradient(top,  #7db9e8 0%,#2989d8 50%,#1e5799 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #7db9e8 0%,#2989d8 50%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */

  word-spacing: 99999px;
  padding: 10px;
}

    li {
        text-align: left !important;
    }

/*title-card h2 {
    max-width: 46%;
    font-size: 12px;
    display: inline-block;
    border-radius: 5px;
  box-sizing: border-box;
  padding: 8px;
  box-shadow: 0 0 3px 4px white, 0 0 0 4px black, inset 0 0 3px 4px white, inset 0 0 0 4px black, 2px 2px 2px 0 black;
  text-baseline: top;

  background-color: blue;
  background: -moz-linear-gradient(top,  #7db9e8 0%, #2989d8 50%, #1e5799 100%); 
  background: -webkit-linear-gradient(top,  #7db9e8 0%,#2989d8 50%,#1e5799 100%); 
  background: linear-gradient(to bottom,  #7db9e8 0%,#2989d8 50%,#1e5799 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); 

}*/

.profileIcon {
    float: left;
    margin-right: 20px;
    margin-top: -10px;
}

.emailIcon {
    width: 54px;
    height: 31px;
}

.skillContainer{
    display: flex;
    border-top: 3px inset black;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
}

.skillDisplay, .levelDisplay {
    flex: 1 0 49%;
}


skill-key section.RpgUiBox {
    overflow: hidden !important;
}
skill-key img{
    display: block;
    width: 300px;
    margin: auto;
}

.nav-cards li{
  display: inline-block;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 8px;
  margin-right: 10px;
  box-shadow: 0 0 3px 4px white, 0 0 0 4px black, inset 0 0 3px 4px white, inset 0 0 0 4px black, 2px 2px 2px 0 black;
  text-baseline: top;

  background-color: blue;
  background: -moz-linear-gradient(top,  #7db9e8 0%, #2989d8 50%, #1e5799 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #7db9e8 0%,#2989d8 50%,#1e5799 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #7db9e8 0%,#2989d8 50%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
}

.nav-cards li,
.nav-cards li a, 
.nav-cards li a:active, 
.nav-cards li a:hover,
.nav-cards li a:visited,
.nav-cards li a:focus
{
    color: rgb(240,240,240);
    cursor: pointer;
}

.seeking{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.seeking p{
    flex: 1;
    display: block;
    text-shadow: 2px 3px 0px black;
    border-top: 1px solid black;
    text-align: center;
    font-weight: bold;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    color: orange;
}
.seeking p:first-of-type{
    border-top: none;
    padding-top: 0 !important;

}