modal-body {
    overflow-y: auto;
}

modal{
  z-index: 10;
  position: fixed;
  width: 85%;
  height: 85%;
  top: 10%;
  left: 10%;
  margin: 0px;
  padding: 0px;

  color: rgb(240,240,240);

  border-radius: 15px;
  box-sizing: border-box;
  margin: 10px;
  box-shadow: 0 0 3px 4px white, 0 0 0 4px black, inset 0 0 3px 4px white, inset 0 0 0 4px black, 2px 2px 2px 0 black;

  background-color: blue;
  background: -moz-linear-gradient(top,  #7db9e8 0%, #2989d8 50%, #1e5799 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #7db9e8 0%,#2989d8 50%,#1e5799 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #7db9e8 0%,#2989d8 50%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;

  cursor: initial;
}

rpg-details button {
    position: absolute;
    width: 100%;
    height: 15%;
    bottom: 0;
    left: 0;
    font-family: "BitFont", Arial, Helvetica, sans-serif;
    font-size: large;

    color: rgb(240,240,240);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 3px 4px white, 0 0 0 4px black, inset 0 0 3px 4px white, inset 0 0 0 4px black, 2px 2px 2px 0 black;

    background-color: blue;
    background: -moz-linear-gradient(top,  #7db9e8 0%, #2989d8 50%, #1e5799 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #7db9e8 0%,#2989d8 50%,#1e5799 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #7db9e8 0%,#2989d8 50%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
    padding: 5px;
    flex: 1;
        
}