    .rpg-resume {
        position: absolute;
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
    }

    .split-left-vertical {
        width: 100%;
        height: 100%;
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: column;
        
        flex: 0 0 66%;
    }

    .top-left {
        width: 100%;
        margin: 0;
        padding: 0;
        flex-direction: row;
        display: flex;
        align-items: stretch;
        -webkit-box-align-content: stretch;
        flex-basis: 50%;
    }

    .top-left .RpgUiBox{
        height: 100%;
    }

    .bottom-left {

    }

    .right {
        width: 100%;
        height: 100%;
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: column;
        
        flex: 0 0 33%;
    }